<% provide(:title, "About") %>
<div class="center hero-unit">
  <h1>About</h1>
  <p>
    Feminist Movie List is an online resource created by Obuchi Adikema as a part of her CSC-324: Software Design and Development course at Grinnell College.
  </p>
</div>