<% provide(:title, "About") %>
<div class="center hero-unit">
  <h1>About</h1>
  <h3>
    Feminist Movie List is an online resource created by Obuchi Adikema as a part of her CSC-324: Software Design and Development course at Grinnell College.
  </h3>
  
  <p>
   Obuchi Adikema is a 21-year-old cinephile. Born and raised in Baton Rouge, Louisiana, she is now a fourth-year student at Grinnell College in Grinnell, Iowa, studying Computer Science and Theater and Dance.
   She loves to watch youtubers analzye her favorite films and deconstruct the male gaze in pop culture. Feminist Movie List is her passion project and her way to claim space in the world of film.
  </p>
</div>