<!DOCTYPE html>
<html>
  <head>
    <title>About | Obuchi's Individual Project</title>
  </head>
  <body>
    <h1>Obuchi's Individual Project</h1>
    <p>
      This is the about page for Obuchi's Individual Project.
    </p>
  </body>
</html>