<% provide(:title, "Help") %>
<div class="center hero-unit">
  <h1>Help</h1>
  <p>We're unsure what you would need help with since the site design is pretty bare bones. However, you can email help@feministmovielist.com to get technical support.</p>
</div>