<% provide(:title, "Home") %>
<div class="center hero-unit">
  <h1>Feminist Movie List</h1>
  <h3>Welcome to the front door of  Feminist Movie List! </h3>
  <p>Have you ever tried to watch a movie put left revoulted by the blantant sexism, racism, and homophobia? Are you tired of using your free time to further subject yourself to the propoganda of entitled male filmmakers and racist, capitalist production companies? DO you want to just watch a movie with two women character who have a decnet conversation? You are in the right place!</p>
  <p>A random feminist movie for your consideration: <%= @movie.name %></p>
</div>