<% provide(:title, "Home") %>
<div class="center hero-unit">
  <h1>Obuchi's Individual Project</h1>
  <p>
    This is the home page for Obuchi's Individual Project. Here is a link to my dice rolling app. 
    <%= link_to "Roll the dice", static_pages_roll_path %>
  </p>
</div>