<% provide(:title, "Home") %>
<div class="center hero-unit">
  <h1>Feminist Movie List</h1>
  <p>
    This is the home page for Feminist Movie List. Here is a link to my dice rolling app. 
    <%= link_to "Roll the dice.", roll_path %>
  </p>
</div>